.master{
  height: 800px;
  width: 1200px;
  font-family: 'Montserrat';
}

/*Control header for all pages*/
.logo {
  background-color: #333;
  font-family: "Inter";
  color: white;
  font-weight: 600;
  display: flex;
  font-size: 24px;
}

.logo .handshake{
  height: 35px;
  width: 35px;
  position: relative;
  top: 20px;
  margin-left: 50px;
}

.logo .handshake img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  filter: invert(1);
}

.logo #rcLogo{
  margin-left: 10px;
}

.header {
  background-color: #333; /* change this later to our colorscheme*/
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
}

.header li {
  display: inline;
  margin: 10px;
}

.header li a {
  color: white;
  text-decoration: None;
}

.header li a:hover {
  text-decoration: underline;
}

.header #headSearchInput{
  align-self: flex-end;
  margin-bottom: 15px;
  margin-right: 35px;
  height: 25px;
  border-radius: 15px;
  padding-left: 7px;
  /*margin-left: 600px;*/
}

.search{
  height: 125px;
  width: 1200px;
}

.search #searchHeader{
  margin-left: 25px;
  margin-bottom: 0px;
}

.search #searchInput{
  margin-top: 10px;
  margin-left: 30px;
  height: 30px;
  width: 95%;
}

.search #buttonHolder{
  background-color: red;
}

.search #buttonHolder #disableCheck{
  margin-left: 25px;
  font-size: 10px;
  float: left;
}

.search #searchBox #searchButton{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  background-color: white;
  border: 1px solid black;
  box-shadow: -1px 1px 1px 1px;
  text-decoration: none;
}

.loginRow{
  vertical-align: top;
  margin: auto;
  width: 1200px;
  height: 80px;
}

/* Login Button Style */
.loginLink button{
  text-decoration: none;
  background-color: lightblue;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  vertical-align: top;
  cursor: pointer;
}

.body {
  background-color: powderblue;
}
.h1 {
  color: blue;
}
.p {
  color: red;
}

/* Main Logo Style */
.centerPiece{
  position: relative;
  margin: auto;
  width: 600px;
  height: 100px;
  text-align: center;
}

#logo{
  display: flex;
  justify-content: center;
}

.searchBox{
  margin-top: 45px;
  position: relative;
  text-align: center;
  margin: auto;
  width: 1080px;
}

.searchBox #searchArea{
  float: left;
}

.searchBox #searchInputBox{
  width: 1080px;
  float: left;
}

.searchBox #searchInput{
  float: left;
  width: 1080px;
}

.searchBox #toggle{
  float: left;
  margin-top: 10px;
  font-size: 10px;
}

.searchBox #searchButtonDiv{
  margin-top: 15px;
}

.searchBox #searchButtonDiv #searchButton{
  padding: 10px 15px;
  border: 1px solid black;
  text-decoration: none;
  background-color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: -2px 2px;
}

.postPosition{
  position: relative;
  margin: auto;
  width: 800px; /* actually 810 px */
  text-align: center;
}

.postPosition #postButton{
  background-color: lightblue;
  margin-top: 30px
}