.master{
  height: 800px;
  width: 1200px;
  font-family: 'Montserrat';
}

/*Control header for all pages*/
.logo {
  background-color: #1C2541;
  font-family: "Inter";
  color: white;
  font-weight: 600;
  display: flex;
  font-size: 24px;
}

.logo .handshake{
  height: 35px;
  width: 35px;
  position: relative;
  top: 20px;
  margin-left: 50px;
}

.logo .handshake img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  filter: invert(1);
}

.logo #rcLogo{
  margin-left: 10px;
}

.header {
  background-color: #1C2541; /* change this later to our colorscheme*/
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  height: 50.67px;
}

.header li {
  display: inline;
  margin: 10px;
}

.header li a {
  color: white;
  text-decoration: None;
}

.header li a:hover {
  text-decoration: underline;
}

.header #headSearchInput{
  margin-bottom: 15px;
  margin-right: 35px;
  align-self: flex-end;
  width: 171px !important;
  height: 25px;
  border-radius: 15px;
  padding-left: 7px;
  /*margin-left: 600px;*/
}


#title {
  text-align: center;
}

form {
  margin: 0 auto; 
  width:800px;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  text-align: right;
  margin-left: 2px;
  margin-top: 10px;
  font-weight: bold;
}

input {
  display: table-cell;
  margin-left: 2px;
  margin-top: 10px;
  width: 500px;
}

#f, #e {
  line-height: 50px;
}

#post {
  float: right;
  margin-top: 20px;
  margin-right: 303.5px;
}