<div class = "header">

  <ul>
    <li><a href="Home.asp">Home</a></li>
    <li><a href="Messaging.asp">Messaging</a></li>
    <li><a href="My Profile.asp">My Profile</a></li>
    <li><a href="Lab Blogs.asp">Lab Blogs</a></li>
  </ul>
</div>

<div id = "Blog">
  <div id = "BlogEntry"> /* may need to be duplicated */
    <div id = "BlogProfilePic">
      Placeholder for blog profile picture
    </div>
    <div id = "BlogPosterID">
      Placeholder for poster ID
    </div>
    <div id = "BlogPost">
      Placeholder for blog post
    </div>
    <div id = "BlogPicture">
      Placeholder for picture in blog post
    </div>
  </div>
</div>

<div id = "TeamInfo">
  <div id = "TeamHeader">
    Placeholder for team header info
  </div>
  <div id = "Memberinfo"> /* needs to be duplicated per member */
    <div id = "MemberPic">
      Placeholder for picture
    </div>
    <div id = "MemberMetadata">
      Placeholder for table of member data
    </div>
  </div>
</div>