<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<div class = "master">
    <div class = "header">
    
      <ul>
        <li><a href="Home.asp">Home</a></li>
        <li><a href="Messaging.asp">Messaging</a></li>
        <li><a href="My Profile.asp">My Profile</a></li>
        <li><a href="Lab Blogs.asp">Lab Blogs</a></li>
      </ul>
    </div>
    
    <div class =  "loginRow">
      <div class = "loginLink">
        <button>
        Log In/Create Account
        </button>
      </div>
    </div>
    
  <div class = "centerPiece">
    
    <div class = "mainLogo">
       <h1>
       Welcome to ResearchConnect!
       </h1>
    </div>

    <div id = "logo">
      <img width = "30" height = "30" src = "https://images.rawpixel.com/image_png_700/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvczkyLWt0LTAxNjI0XzEucG5n.png">
    </div>
    
  </div>
    
    <div class = "searchBox">
      <div id = "searchHeader">
        <p>Find Your Next Research Collaboration!</p>
      </div>
      <div id = "searchArea">
      
        <div id = "searchInputBox">
          <input id = searchInput type="text" placeholder="Search..">
        </div>
        
        <div id = "toggle">
          <input type="checkbox" id="disableToggle">
          <label for="disableToggle">Disable Interdisciplinary Positions</label>
        </div>
        
      </div>
      <div id = "searchButtonDiv">
        <button id = searchButton>Search Research Positions!</button>
      </div>
    </div>
    
    <div class = "postPosition">
      <button id = postButton> Looking for Research Partners? Post Here! </button>
    </div>
</div>

</html>