<div class = "header">

  <ul>
    <li><a href="Home.asp">Home</a></li>
    <li><a href="Messaging.asp">Messaging</a></li>
    <li><a href="My Profile.asp">My Profile</a></li>
    <li><a href="Lab Blogs.asp">Lab Blogs</a></li>
  </ul>
</div>

<div class = "loginLink">
  <button>
  Log In/Create Account
  </button>
</div>

<div class = "mainLogo">
 <h1>
 Welcome to ResearchConnect!
 </h1>
</div>

<div class = "logo">
  <h1>
  Placeholder for main logo
  </h1>
</div>

<div class = "searchbar">
  <div class = searchHeader>
    <p1>Placeholder for motto text</p1>
  </div>
  <div class = "searchInput">
  </div>
    <p1>placeholder for input</p1>
  <div class = "disableToggle">
    <p1>Placeholder for disable interdisc toggle</p1>
  </div>
  <div class = "searchButton">
    <p1>Placeholder for search button</p1>
  </div>
</div>

<div id = "postPosition">
  <p1> Post position here placeholder </p1>
</div>