<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div class = "master">
    <div class = "logo">
      <div class = "handshake">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/9/97/Handshake%2C_by_David.svg">
      </div>
      <p id = "rcLogo">
          ResearchConnect
      </p>
    </div>
    <div class = "header">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/results">Messaging</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/posting">Lab Blogs</a></li>
      </ul>
      
       <input id = "headSearchInput" type = "text" placeholder = "Search">
    </div>
    
    <div class =  "loginRow">
      <div class = "loginLink">
        <button>
        Log In/Create Account
        </button>
      </div>
    </div>
    
  <div class = "centerPiece">
    
    <div class = "mainLogo">
       <h1>
       Welcome to ResearchConnect!
       </h1>
    </div>

    <div id = "logo">
      <img width = "50" height = "50" src="https://upload.wikimedia.org/wikipedia/commons/9/97/Handshake%2C_by_David.svg">
    </div>
    
  </div>
    
    <div class = "searchBox">
      <div id = "searchHeader">
        <p>Find Your Next Research Collaboration!</p>
      </div>
      <div id = "searchArea">
      
        <div id = "searchInputBox">
          <input id = searchInput type="text" placeholder="Search..">
        </div>
        
        <div id = "toggle">
          <input type="checkbox" id="disableToggle">
          <label for="disableToggle">Disable Interdisciplinary Positions</label>
        </div>
        
      </div>
      <div id = "searchButtonDiv">
        <button id = searchButton>Search Research Positions!</button>
      </div>
    </div>
    
    <div class = "postPosition">
      <button id = postButton> Looking for Research Partners? Post Here! </button>
    </div>
</div>

</html>