<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="static/styles_posting.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div class = "master">
    <div class = "logo">
      <div class = "handshake">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/9/97/Handshake%2C_by_David.svg">
      </div>
      <p id = "rcLogo">
          ResearchConnect
      </p>
    </div>
    <div class = "header">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posting">Messaging</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/results">Lab Blogs</a></li>
      </ul>
      
       <input id = "headSearchInput" type = "text" placeholder = "Search">
    </div>
    
  <div class = "posting">
    <h1 id = title>
      New Posting
    </h1>
    <form>
      <p>
        <label for="a">
          Project Name: 
        </label>
        <input id="a", type = "text">
      </p>
      <p>
        <label for="b">
          Your Name:
        </label>
        <input id="b", type = "text">
      </p>
      <p>
        <label for="c">
          Contact Email:
        </label>
        <input id="c", type = "text">
      </p>
      <p>
        <label for="d">
          Field(s):
        </label>
        <input id="d", type = "text">
      </p>
      <p>
        <label for="e">
          Project Description:
        </label>
        <input id="e", type = "text">
      </p>
      <p>
        <label for="f">
          Preferred Qualifications:
        </label>
        <input id="f", type = "text">
      </p>
      <p>
        <label for="g">
          Project Tag(s):
        </label>
        <input id="g", type = "text", style = "">
      </p>
    </form>
  </div>
  <div>
    <button id = "post">
      Post Position!
    </button>
  </div>


    
</div>

</html>