<div class = "posting">
  <div class = "ProjectNameInput">
    Placeholder for Project name
  </div>
  <div class = "ProfNameInput">
    Placeholder for ProfessorName
  </div>
  <div class = "ContactEmail">
    Placeholder for contact email
  </div>
  <div class = "Fields">
    Placeholder for Fields
  </div>
  <div class = "ProjectDescription">
    Placeholder for projectDescription
  </div>
  <div class = "PreferredQuals">
    Placeholder for preferred qualifications
  </div>
  <div class = "Tags">
    Placeholder for project tags
  </div>
  <div class = "submit">
    Placeholder for submit
  </div>
</div>