<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="static/styles_profile.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div class = "master">
    <div class = "logo">
      <div class = "handshake">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/9/97/Handshake%2C_by_David.svg">
      </div>
      <p id = "rcLogo">
          ResearchConnect
      </p>
    </div>
    <div class = "header">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posting">Messaging</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/results">Lab Blogs</a></li>
      </ul>
      
       <input id = "headSearchInput" type = "text" placeholder = "Search">
    </div>
    
    <div class = "left">
      <div class = "profileBox">
        <div class = "profileHead">
          <div class = "profileText">
            <h1 class = "myProfile">
              My Profile
            </h1>
            <p class = "Name">
            James Webb
            </p>
            <p class = "Academia">
            Sophomore/Astrophysics/Expected B.A. '26
            </p>
            <p class = "Resume">
            Upload Resume
            </p>
          </div>
          <div class = "profilePic">
            <img src = "https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdDA2IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--99c920b7431d0815e8f94fa95f1508d2503f1cbd/JWST_Illustration-1280.jpg">
          </div>

        </div>
      
      <div class = "interestsBox">
        <div class = "interestsTitle">
          <h1 class = "interestsHeader">
          Interests
          </h1>
          <div class = "interestsContainer">
            <table id = "interestsTable">
              <tr>
              <td>Astronomy</td>
              <td>Instrumentation</td>
              <td>Literature</td>
              </tr>
            </table>
            <div class = "addIcon">
              <img src = "https://upload.wikimedia.org/wikipedia/commons/9/9e/Plus_symbol.svg">
            </div>
            
          </div>
        </div>
      </div>
      
      <div class = "skillsBox">
        <div class = "skillsTitle">
          <h1 class = "skillsHeader">
          Skills
          </h1>
          <div class = "skillsContainer">
            <table id = "skillsTable">
              <tr>
              <td>C++</td>
              <td>AstroPy</td>
              <td>Java</td>
              </tr>
            </table>
            <div class = "addIcon">
              <img src = "https://upload.wikimedia.org/wikipedia/commons/9/9e/Plus_symbol.svg">
            </div>
            
          </div>
        </div>
      </div>
      
      <div class = "aboutBox">
        <h1 id = "aboutMeHeader">
        About Me
        </h1>
        <p id = "aboutMeText">
          I am a sophomore in Columbia College studying astrophysics and minoring in creative writing. My interests lie in the intersection of astronomy ad the arts. I am looking forward to finding ways to mix both of my interests. Currently I am looking forward to working in an instrumentation laboratory. 
        </p>
      </div>
      
      </div>
    </div>
    
    <div class = "right">
    
    <h1 id = "messagingHeader">
      Messaging
    </h1>
    
      <div class = "messageBox">
        <div class = "messageLeft">
          <h1 class = "messageSubject">
            RE: FIREBALL
          </h1>
          <p class = "messageSender">
          Professor David Shiminovich
          </p>
          <p class = "messageText">
          Hi James, <br>
          <br>
          I'm happy to hear that you're interested in joining our research group. Our team meets on Thursday on the 14th floor of Pupin. What would be a good time for you? <br> 
          <br> 
          Thanks, <br> 
          DS
          </p>
        </div>
        <div class = "messageDropdown">
          <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/1200px-Arrow-down.svg.png">
        </div>
        <button class = "replyButton" type = "button">
          Reply
        </button>
      </div>
      
       <div class = "messageBox">
        <div class = "messageLeft">
          <h1 class = "messageSubject">
            RE: Astronaut
          </h1>
          <p class = "messageSender">
          Kevin Gao, Representing Professor JR Lennon
          </p>
          <p class = "messageText">
          Hi James, <br>
          <br>
          I'm so happy to hear that you're interested in helping with the research for "Darkness Devil: The Astrologue Tragedy. Are you familiar with how to DIY telescope. We could meet on Zoom this Wednesday at 5pm if that works for you?"
          <br> 
          Thanks, <br> 
          Kevin
          </p>
        </div>
        <div class = "messageDropdown">
          <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/1200px-Arrow-down.svg.png">
        </div>
        <button class = "replyButton" type = "button">
          Reply
        </button>
      </div>
    
    </div>
    
    </div>
    
    
  

    
</div>

</html>