<div class = "header">

  <ul>
    <li><a href="Home.asp">Home</a></li>
    <li><a href="Messaging.asp">Messaging</a></li>
    <li><a href="My Profile.asp">My Profile</a></li>
    <li><a href="Lab Blogs.asp">Lab Blogs</a></li>
  </ul>
</div>

<div id = "MyProfile">
  <div id = "MyInfo">
    <div id = "Name">
      Placeholder for name
    </div>
    <div id = "MetaInfo">
      Placeholder for metadata
    </div>
    <div id = "UploadResume">
      Placeholder for upload resume button
    </div>
    <div id = "ProfilePicture">
      Placeholder for Profile Picture
    </div>
  </div>
  <div id = "InterestHeader">
    Placeholder for Interests Header
  </div>
  <div id = "Interests">
    Placeholder for Interests
  </div>
  <div id = "SkillsHeader">
    PlaceHolder for SkillsHeader
  </div>
  <div id = "Skills">
    Placeholder for skills
  </div>
  <div id = "AboutMeHeader">
    Placeholder for aboutMeHeader
  </div>
  <div id = "AboutMe">
    Placeholder for about me
  </div>
</div>

<div id = "Messaging"> /* this is one message box, after styling add another */
  <div id = "MessageBox">
    <div id = "MessageHeader">
      Placeholder for Message Header
    </div>
    <div id = "MessageSender">
      PlaceHolder for message sender
    </div>
    <div id = "Messagebody">
      Placeholder for Message Body
    </div>
    <div id = "dropdown">
      Placeholder for Dropdown Button
    </div>
    <div id = "replyButton">
      Placeholder for Reply Button
    </div>
  </div>
</div>